body{
	font-size:16px;
	padding-top:55px;

}
.mainContent {
  width:500px;
  max-width:500px;
  margin:0 auto;
}
.singleMeme{
  padding:15px;
  box-sizing:border-box;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  margin:15px 0;
}
.singleMeme img{
  width:100%;
  margin:0 auto;
  display: block;
}
#navbarNavDropdown.navbar-collapse{

}