body{
	font-size:16px;
	padding-top:55px;

}
html,body{height:100%;}
.justifyFlex {
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    -webkit-align-items: stretch;
}
.justifyFlexCenter {
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
}
.justifyCenter{
  justify-content: center;
  -webkit-justify-content:center;
}
.justifyLeft{
  justify-content: left;
  -webkit-justify-content:left;
}
.navbar{
  background-color:#FFEB3B!important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#navbarUserName{
  color:#000;
  font-weight: bold;
}
.show{display: block;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownMenu {
  cursor: pointer;
}
.dropdownMenu .memeUser{
  padding:.5rem 0;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-item:hover{
  background:#00bcd4;
  color:#fff;
}
.floating-fixed{
  position: fixed;
  bottom:20px;
  right:20px;
}
.floating-btn{
    background: #00bcd4;
    color: #fff;
    padding: 6px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.floating-btn:hover{
  color:#fff;
}
.inactive{
  display: none;
}
.notiicationsDropDown {
  top:45px;
  min-width:360px;
}
.notificationHeading{
  padding:10px;
  background:#00bcd4;
  position: relative;
  color:#fff;
}
.notificationsBody{
 
  height:350px;
  overflow-y:scroll;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid #00bcd4;
  position: absolute;
  top:-10px;
  right:5px;
}
.notiPic{
  width:35px;
  height:35px;
  border-radius: 50%;
  margin-right:5px;
}
.singleNotification{
  padding:10px;
  background:#E5EAF2;
}
/* width */
.notificationsBody::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.notificationsBody::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.notificationsBody::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.notificationsBody::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.notiSeen{
  background:#fff;
}
.notiMsg{
  width:calc(100% - 45px);
}
.relative{
  position:relative;
}
.notiCounter{
    position: absolute;
    top: 0;
    right: 0;
    background: #f44336;
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 11px;
    font-weight: bold;
}
.fa-bell{
  font-size:1.5rem !important;
}
.loginBtn{
  background:#00bcd4;
  color:#fff;
  border-radius: 20px;
  padding:0 20px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.loginBtn a{
  color:#fff !important;
  font-weight: bold;
 
}
.searchResult{
  position:absolute;
  background:#fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
/************** HOME PAGE **************/
.mainContent {
  width:500px;
  max-width:500px;
  margin:0 auto;
}
.singleMeme{

  box-sizing:border-box;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  margin:15px 0;
  padding-bottom:0;
  border-radius: 5px;
}
.singleMeme img{
  width:100%;
  margin:0 auto;
  display: block;
  height: 500px;
  background:url(../images/Loading_icon.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
.memeBar{
 margin-top:2px;
  box-sizing: border-box;
  display: inline-block;
  width:100%;
}
.like{
  cursor: pointer;
  padding:10px 25px;
  float:left;
  width:50%;
  text-align: center;
}
.comment{
  cursor: pointer;
  padding:10px 25px;
  float:left;
  width:50%;
  text-align: center;
}
.like:hover{
  background:#eaeaea;
   
}
.comment:hover{
   background:#eaeaea;
}
.liked{
  color:#007bff;
}

.stats{
  text-align: center;
  padding:10px 25px;
  width:100%;
  background:#efefef;
}
.clearfix{
  clear:both;
}
.stats .fa{
  margin-left:15px;
  display: inline-block;
}
.commentBox{
  width:100%;
  display: none;
}

.fixedCategories{
  position: fixed;
  width:215px;
  margin-right:10px;
}
.fixedWidgets{
  position: fixed;
  width:230px;
  right:0;
  margin-left:10px;
}
.asideUserBox{
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
}
#asideImage{
  width:90px;
  height:90px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 3px solid #fff;
}
.upperPart{
  background:#00bcd4;
  padding:20px;
  height:120px;
  color:#fff;
}
.userImage{
  position:absolute;
  top:65px;
  left:50%;
  -ms-transform:translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform:translateX(-50%);
  
}
.downPart{
  padding-top:30px;
  background:#ecf0f5;
}
.border-right{border-right:1px solid #ccc;}
.statCount{font-weight: bold;display: block;text-align: center;}
.statBox{width:32%;padding:5px;box-sizing: border-box;text-align: center;}
.memeUser{
  padding:10px 15px;
}
.memeUser div{
  width:30px;
  height: 30px;
  display: inline-block;
  background-size:cover;
  border-radius: 50%;
  float:left;
  margin-right: 10px;
}
.meme_username{
  font-weight: bold;
}

.commentBox{
  
  padding:5px;
  box-sizing:border-box;
 border-top:1px solid #ccc;
}
.commentBox input {
  border:none;
  padding:5px;
  width:calc(100% - 100px );
  
}
.commentBox button{
  float:right;
}
.commentUser{
  font-weight: bold;
}
.singleComment{
  margin:5px 0;
}
.singleCategory{margin:5px 0;display: block;}
.singleCategory img{width:25px;}
/***************** PROFILE PAGE *************/
#profilePicture{
  width:200px;
  height:200px;
  border-radius: 50%;

  background-size:cover;
  margin:0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.bioRow{
  padding:15px;
  margin:20px 0;
}
.user_name{
  font-size:1.5rem;
  font-weight: bold;
  margin:10px 0;
}
.profileImage{
  text-align: center;
}
#uploadAvatar{
  display: none;
}
#saveImage{
  display: none;
}
.profileMeme{
  width:32%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 5px;
  margin:10px 0;
}
.profileMeme img{
  width:100%;

}
.folllowerBtn{
  float:right;
}
.followBox{
  border-bottom:1px solid #ccc;
  padding:10px 0;
}
.followName{
  display: inline-block;
  padding:7px;
}
.profileCounter{
  font-weight: bold;
  font-size:2rem;
}
.profileCounterBox{
  width:33%;
  text-align: center;
  background:#fbfbfb;
  
  cursor: pointer;
}
.followName .memeUser{
  padding:0;
  float:left;
}
/************************* LOGIN *********************/
.panel{
  width: 600px;
  display: block;
  margin:0 auto;
  text-align: center;
  background:#fff;
  padding:15px 100px;
  margin-bottom:55px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 10px;
}

.bodyBg{
  background: #FFEB3B;  /* fallback for old browsers */

}
.bodyBg .navbar{
  display: none;
}
.form-control{
  background:#f7f7f7;
  padding:10px 10px;
}
.form-control:focus{
  background:#f7f7f7;
}
.form-group{
  text-align: left;
}
label{
  font-weight: bold;
}
.auth-btn{
  width:100%;
  padding:10px;
  text-transform: uppercase;
  font-weight: bold;
}
.socialBtn{
  display: block;
  padding:10px;
  border-radius: 10px;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  color:#fff;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom:10px;
}
.socialBtn .fa{
  font-size:2rem;
  margin-right: 10px;
}
.socialBtn:hover{
  text-decoration: none;
  color:#fff;
}
.socialFb{
  background:#425F9C;
}
.socialTwitter{
  background:#1DA1F3;
}
.socialGoogle{
  color:#000;
}
.socialGoogle:hover{
  color:#000;
}
.help-block{
  color:red;
}

/************** MEME PAGE ***************/
.appContainer{
  height:100%;
}
textarea{
  resize: none;
}

#drop-area {
  border: 3px dashed #00bcd4;
  border-radius: 10px;
  width: 100%;
  font-family: sans-serif;
  margin: 20px auto;
  padding: 20px;
  height: 400px;
  position: relative;
}
#drop-area.highlight {
  background: #00bcd4;
  color:#fff;
}
.uploadForm {
  margin-bottom: 10px;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  width:100%;
  text-align: center;
}
.uploadForm .fa{
  font-size:5rem;
}
.uploadForm p{
  font-size:2rem;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.chooseBtn {
  display: inline-block;
  padding: 10px 15px;
  background:transparent;
  cursor: pointer;
  border-radius: 5px;
  border:2px solid #00bcd4;
  color:#00bcd4;
}

#fileElem {
  display: none;
}
.steps{
  margin-top:50px;
  position: relative;
}
.stepCircle{
  width:50px;
  height: 50px;
  border-radius: 50%;
  background:#00bcd4;
  display: inline-block;
  position: relative;
  border:5px solid #eaeaea;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.stepCircle span{
  position: absolute;
  top:50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-weight: bold;
  font-size:1.5rem;
  color:#fff;
}
.stepLine {
    position: absolute;
    width: 50%;
    height: 5px;
    background: #00bcd4;
    left: 0;
    top:50%;
    z-index: -1;
}
.stepLine2{
  left:50%;
  background:#ccc;
}
.previewMeme{
  height:400px;
  position: relative;
}

#loadingMeme{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

   background:url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
  background-size:30%;
}
#result,#finalMeme{
  height: 100%;
  width:100%;
  margin:0 auto;
  display: block;
   background:url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:30%;

}

#category{
  height:auto;
}
.newMemeTitle{
  padding-top:50px;
}
/************ MEDIA QUERIES *********************/
@media screen and (max-width:780px){
  .mainContent{
    width:100%;
  }
}